<div class="container">
  <div class="row">
    <div class="col-md-7" style="text-align:right;">
      <p>Contact Our</p>
      <h1>Customer Support Center</h1>
    </div>
    <div class="col-md-3" style="text-align: right;">
      <img mat-card-image src="../assets/Laptop.png" alt="Laptop" height="100px" width="200px" style="margin:10px;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <mat-label style="font-size: 20px; text-align: center;padding: left 50px;">Contact Information</mat-label>
      <h2 style="font-size: 15px;padding: 10px;">Please Fill Out Your Contact Information Below</h2>
    </div>
  </div>
</div>
