<!-- <header>
   <p>Contact Our</p>
   <div class="para2">
     <p>Customer Support Center</p>
   </div>
</header>
<div id="main">
  <mat-label style="font-size: 20px;">Contact Information</mat-label>
  <p style="font-size: 15px;padding: 10px;">Please Fill Out Your Contact Information Below</p>
  <picture>
    <img mat-card-image src="../assets/Laptop.png" alt="Laptop" height="100px" width="200px">
  </picture>

</div>
<div class="container-fluid" id="container">

  <form class="example-form">
    <mat-label>Name*</mat-label>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-label>Email*</mat-label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Email</mat-label>
        <input matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-label>Phone*</mat-label>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter Mobile Number</mat-label>
        <input matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  </form>

</div> -->

<router-outlet></router-outlet>
